@import url("https://fonts.googleapis.com/css?family=Roboto");
.top {
  width: 100%;
  height: 40px;
  background-color: #33333a;
  position: relative; }
  .top h4 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    position: absolute;
    margin-left: 50%; }

.menu {
  width: 100%;
  height: 80px;
  background-color: #ffffff; }
  .menu #nav1 {
    list-style-type: none; }
    .menu #nav1 .matter {
      margin-left: 150px;
      margin-top: 28px;
      font-weight: 500;
      font-size: 40px;
      float: left; }
    .menu #nav1 .shop {
      font-size: 12px;
      margin-top: 37px;
      float: left;
      margin-left: 34px; }
    .menu #nav1 .fabric {
      font-size: 12px;
      margin-top: 37px;
      float: left;
      margin-left: 51px; }
    .menu #nav1 .journal {
      font-size: 12px;
      margin-top: 37px;
      float: left;
      margin-left: 52px; }
    .menu #nav1 .about {
      font-size: 12px;
      margin-top: 37px;
      float: left;
      margin-left: 53px; }
  .menu #nav2 {
    list-style-type: none; }
    .menu #nav2 .login {
      font-size: 12px;
      margin-top: 37px;
      float: left;
      margin-left: 410px; }
    .menu #nav2 .search {
      margin-top: 31px;
      float: left;
      margin-left: 24px; }
    .menu #nav2 .like {
      margin-top: 31px;
      float: left;
      margin-left: 40px; }
    .menu #nav2 .bag {
      margin-top: 31px;
      float: left;
      margin-left: 42px; }

.slides {
  width: 100%;
  position: relative; }
  .slides img {
    width: 100%; }
  .slides .left {
    position: absolute;
    top: 50%; }
  .slides .right {
    position: absolute;
    float: right;
    top: 50%;
    right: 0; }
  .slides .parfume {
    top: 30%;
    position: absolute;
    left: 60%;
    width: 458px;
    font-family: Roboto;
    font-size: 60px;
    line-height: 1.33;
    color: #ffffff; }
  .slides .shop-now {
    float: left;
    top: 60%;
    left: 60%;
    width: 79px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 2px;
    color: #ffffff;
    position: absolute; }

.content {
  width: 100%;
  background-color: #fcfcfc;
  float: left;
  padding-top: 5%; }
  .content h2 {
    text-align: center;
    font-family: Roboto;
    line-height: 1.43;
    color: #33333a;
    font-weight: 500; }
  .content .con {
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .content .con {
        width: 748px; } }
    @media screen and (min-width: 1024px) {
      .content .con {
        width: 1004px; } }
    @media screen and (min-width: 1280px) {
      .content .con {
        width: 1260px; } }
    .content .con .box1 {
      float: left;
      position: relative;
      width: 50%; }
      @media screen and (min-width: 768px) {
        .content .con .box1 {
          width: 249.33333px; } }
      @media screen and (min-width: 1024px) {
        .content .con .box1 {
          width: 251px; } }
      @media screen and (min-width: 1280px) {
        .content .con .box1 {
          width: 315px; } }
      .content .con .box1 .new {
        background-color: #ff6008;
        width: 50px;
        height: 20px;
        position: absolute;
        margin-top: 20px;
        margin-left: 20px;
        text-align: center;
        color: #ffffff; }
      .content .con .box1 .view {
        width: 180px;
        height: 30px;
        position: absolute;
        background-color: #33333a;
        color: #ffffff;
        text-align: center;
        margin-left: 57px;
        top: 50%;
        padding-top: 10px;
        display: block;
        margin-top: -25px; }
      .content .con .box1 a {
        display: block;
        text-decoration: none; }
        .content .con .box1 a h4 {
          font-family: Roboto;
          font-size: 16px;
          color: #33333a;
          width: 263px;
          margin-left: 10px; }
        .content .con .box1 a .price {
          font-family: Roboto;
          font-size: 14px;
          color: #33333a;
          font-weight: bold;
          margin-left: 10px; }
        .content .con .box1 a img {
          padding: 10px;
          width: 100%; }

.about-matter {
  width: 100%;
  background-color: #ffffff; }
  .about-matter h2 {
    font-family: Roboto;
    color: #030303;
    font-weight: 500;
    text-align: center; }
  .about-matter .img-about {
    float: right;
    margin-right: -55px; }
  .about-matter .topDiv {
    padding-left: 50px; }
    .about-matter .topDiv .img-common {
      font-size: 18px;
      float: left;
      color: #030303;
      text-align: left;
      font-family: Roboto;
      word-wrap: break-word;
      font-weight: 300;
      font-style: normal;
      line-height: 27px;
      margin-left: 20px; }
    .about-matter .topDiv .img-fontType {
      font-weight: normal;
      line-height: 24px;
      letter-spacing: 1px; }
    .about-matter .topDiv .img-exp2 {
      font-size: 12px; }
    .about-matter .topDiv .img-exp3 {
      font-weight: normal; }
    .about-matter .topDiv .img-exp4 {
      font-size: 12px; }
    .about-matter .topDiv .img-exp5 {
      list-style-type: none;
      font-weight: normal;
      padding-left: 0px; }
    .about-matter .topDiv .img-exp6 {
      font-size: 12px; }
    .about-matter .topDiv .img-exp7 {
      list-style-type: none;
      padding-left: 0px; }

.about-explore {
  width: 100%;
  background-color: #fcfcfc;
  padding-top: 5%; }
  .about-explore h2 {
    font-family: Roboto;
    color: #030303;
    text-align: center; }
  .about-explore .style-common ul {
    list-style-type: none;
    padding-left: 0px; }
    .about-explore .style-common ul li {
      float: left;
      line-height: 3.33;
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: 600; }
  .about-explore h3 {
    font-family: Roboto;
    font-size: 28px;
    line-height: 1.67;
    color: #33333a;
    float: left; }
  .about-explore h4 {
    font-family: Roboto;
    font-size: 24px;
    line-height: 1.67;
    color: #33333a;
    float: left; }
  .about-explore p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.56;
    color: #33333a;
    float: left; }
  .about-explore .btn {
    background-color: #33333a;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 43%;
    margin-right: 43%; }

h2 {
  font-family: Roboto;
  color: #030303;
  text-align: center; }

.about-shop {
  width: 100%;
  float: left;
  padding: 5%; }
  .about-shop .content-shop {
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .about-shop .content-shop {
        width: 748px; } }
    @media screen and (min-width: 1024px) {
      .about-shop .content-shop {
        width: 1004px; } }
    @media screen and (min-width: 1280px) {
      .about-shop .content-shop {
        width: 1260px; } }
    .about-shop .content-shop .box {
      float: left;
      position: relative;
      width: 50%; }
      @media screen and (min-width: 768px) {
        .about-shop .content-shop .box {
          width: 249.33333px; } }
      @media screen and (min-width: 1024px) {
        .about-shop .content-shop .box {
          width: 251px; } }
      @media screen and (min-width: 1280px) {
        .about-shop .content-shop .box {
          width: 315px; } }
      .about-shop .content-shop .box .rectangle1 {
        background-color: #ffffff;
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        color: #030303; }
      .about-shop .content-shop .box a {
        display: block; }
      .about-shop .content-shop .box img {
        width: 100%;
        padding: 10px; }

.about-video {
  width: 100%;
  float: left;
  padding-top: 5%; }
  .about-video .content-video {
    margin: 0 auto;
    /*         .img4{
            left: 36%;
            margin-top: 19%;
            position: absolute;
        } */ }
    @media screen and (min-width: 768px) {
      .about-video .content-video {
        width: 748px; } }
    @media screen and (min-width: 1024px) {
      .about-video .content-video {
        width: 1004px; } }
    @media screen and (min-width: 1280px) {
      .about-video .content-video {
        width: 1260px; } }
    .about-video .content-video .box2 {
      float: left;
      position: relative; }
    .about-video .content-video img {
      width: 100%;
      padding: 10px; }
    .about-video .content-video .btn2 {
      background-color: #33333a;
      color: #ffffff;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: 2px;
      text-align: center;
      margin-left: 43%;
      margin-right: 43%; }

.logo-box {
  position: relative;
  width: 100%; }
  .logo-box img {
    width: 100%; }

footer {
  position: relative;
  width: 100%;
  background-color: #33333a;
  float: left; }
  footer .row {
    margin-left: 10%; }
  footer h6 {
    font-family: Roboto;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.67;
    margin-top: 10%; }
  footer ul {
    list-style-type: none;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.79;
    padding: 0px;
    color: #dedede; }
    footer ul img {
      float: left;
      padding: 3%; }
  footer .row8 .row9 {
    margin-left: 10%;
    margin-top: 5%; }
  footer .col-sm-4 {
    float: left; }
  footer .email {
    border: solid 1px #666666; }
  footer .btn3 {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: 2px; }
  footer .btn-subscribe {
    margin: 34%; }
  footer p {
    font-family: Roboto;
    font-size: 14px;
    color: #dedede;
    text-align: center; }
