@import url('https://fonts.googleapis.com/css?family=Roboto');

$dark-grey: #33333a;
$white: #ffffff;
$black: #030303;
$background : #fcfcfc;
$turuncu: #ff6008;
$list : #dedede;


.top{
    width: 100%;
    height: 40px;
    background-color: $dark-grey;
    position: relative;

    h4{
        color: $white;
        font-family: Roboto;
        font-size: 12px;
        position: absolute;
        margin-left: 50%;
    }            
}

.menu{
    width: 100%;
    height: 80px;
    background-color: $white;
    #nav1{
        list-style-type: none;
        .matter{
            margin-left: 150px;
            margin-top: 28px;
            font-weight: 500;
            font-size: 40px;
            float: left;
        }

        .shop{
            font-size: 12px;
            margin-top: 37px;
            float: left;
            margin-left: 34px;
        }

        .fabric{
            font-size: 12px;
            margin-top: 37px;
            float: left;
            margin-left: 51px;
        }

        .journal{
            font-size: 12px;
            margin-top: 37px;
            float: left;
            margin-left: 52px;
        }

        .about{
            font-size: 12px;
            margin-top: 37px;
            float: left;
            margin-left: 53px;
        }
    }
    #nav2{
        list-style-type: none;
        .login{
            font-size: 12px;
            margin-top: 37px;
            float: left;
            margin-left: 410px;
        }

        .search{
            margin-top: 31px;
            float: left;
            margin-left: 24px;
        }

        .like{
            margin-top: 31px;
            float: left;
            margin-left: 40px;
        }

        .bag{
            margin-top: 31px;
            float: left;
            margin-left: 42px;
        }
    }
}    

.slides{
    width: 100%;
    position: relative;
    img{
        width: 100%;
    }
    .left{
        position: absolute;
        top: 50%;
    }
    .right{
        position: absolute;
        float: right;
        top: 50%;       
        right: 0;      
    }
    .parfume{
        top: 30%;
        position: absolute;
        left: 60%;
        width: 458px;
        font-family: Roboto;
        font-size: 60px;
        line-height: 1.33;
        color: $white;
    }

    .shop-now{
        float: left;
        top: 60%;
        left: 60%;
        width: 79px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.67;
        letter-spacing: 2px;
        color: $white;
        position: absolute;
        
    }
}    

.content{
    width: 100%;
    background-color: $background;
    float: left;
    padding-top: 5%;
    h2{
        text-align: center;
        font-family: Roboto;
        line-height: 1.43;
        color: $dark-grey;
        font-weight: 500;
    }
    .con{
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            width: 748px;
        }

        @media screen and (min-width: 1024px) {
            width: 1004px;
        }

        @media screen and (min-width: 1280px) {
            width: 1260px;
        }

        .box1{
            float: left;
            position: relative;
            width: 50%;

            @media screen and (min-width: 768px) {
                width: (748px / 3);
            }
    
            @media screen and (min-width: 1024px) {
                width: (1004px / 4);
            }
    
            @media screen and (min-width: 1280px) {
                width: (1260px / 4);
            }

            .new{
                background-color: $turuncu;
                width: 50px;
                height: 20px;
                position: absolute;
                margin-top: 20px;
                margin-left: 20px;
                text-align: center;
                color: $white;
            }
            .view{
                width: 180px;
                height: 30px;
                position: absolute;
                background-color: $dark-grey;
                color: $white;
                text-align: center;
                margin-left: 57px;
                top: 50%;
                padding-top: 10px;
                display: block;
                margin-top: -25px;
            }
            a{
                display: block;
                text-decoration: none;
                h4{
                    font-family: Roboto;
                    font-size: 16px;
                    color: $dark-grey;
                    width: 263px;
                    margin-left: 10px;
                }
                .price{
                    font-family: Roboto;
                    font-size: 14px;
                    color: $dark-grey;
                    font-weight: bold;
                    margin-left: 10px;
                }
                img{
                    padding: 10px;
                    width: 100%;
                }
            }
        }
        
    }
}
.about-matter{
    width: 100%;
    background-color: $white;
    
    h2{
        font-family: Roboto;
        color: $black;
        font-weight: 500;
        text-align: center;
    }

    .img-about{
        float: right;
        margin-right: -55px;
    }

    .topDiv{
        padding-left: 50px;
        .img-common{
            font-size:18px; 
            float: left;
            color: $black;
            text-align: left;
            font-family: Roboto;
            word-wrap: break-word;
            font-weight: 300;
            font-style: normal;
            line-height: 27px;
            margin-left: 20px;
        }
        .img-fontType
        {
            font-weight: normal;
            line-height: 24px;
            letter-spacing: 1px;
        }

        .img-exp2{
            font-size:12px; 
        }
        
        .img-exp3{
            font-weight: normal;
        }

        .img-exp4{
            font-size:12px; 
        }

        .img-exp5{
            list-style-type: none;
            font-weight: normal;
            padding-left: 0px;
        }

        .img-exp6{
            font-size:12px; 
        }

        .img-exp7{
            list-style-type: none;
            padding-left: 0px;
        } 
    }   
}

.about-explore{
    width: 100%;
    background-color: $background;
    padding-top: 5%;
    h2{
        font-family: Roboto;
        color: $black;
        text-align: center;
    }
    .style-common{
        //float: left;
        //padding-left: 169px;
        //max-width: 50%;
        
        ul{
            list-style-type: none;
            padding-left: 0px;
            li{
                float: left;
                line-height: 3.33;
                font-size: 12px;
                letter-spacing: 1px;
                font-weight: 600;
            }
        }
    }
    
    h3{
        font-family: Roboto;
        font-size: 28px;
        line-height: 1.67;
        color: $dark-grey;
        float: left;
    }
    h4{
        font-family: Roboto;
        font-size: 24px;
        line-height: 1.67;
        color: $dark-grey;
        float: left;
    }
    p{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.56;
        color: $dark-grey;
        float: left;
    }
    .btn{
        background-color: $dark-grey;
        color: $white;
        font-family: Roboto;
        font-size: 12px;
        letter-spacing: 2px;
        text-align: center;
        margin-left: 43%;
        margin-right:43%;
    }
}
h2{
    font-family: Roboto;
    color: $black;
    text-align: center;
}
.about-shop{
    width: 100%;
    float: left;
    padding: 5%;

    .content-shop{

        margin: 0 auto;

        @media screen and (min-width: 768px) {
            width: 748px;
        }

        @media screen and (min-width: 1024px) {
            width: 1004px;
        }

        @media screen and (min-width: 1280px) {
            width: 1260px;
        }

        .box{
            float: left;
            position: relative;
            width: 50%;

            @media screen and (min-width: 768px) {
                width: (748px / 3);
            }

            @media screen and (min-width: 1024px) {
                width: (1004px / 4);
            }

            @media screen and (min-width: 1280px) {
                width: (1260px / 4);
            }

            .rectangle1{
                background-color: $white;
                position: absolute;
                bottom: 10%;
                left: 0;
                width: 100%;
                text-align: center;
                font-family: Roboto;
                font-size: 18px;
                color: $black;
            }
            a{
                display: block;
            }
            img{
                width: 100%;
                padding: 10px;
            }
        }
    }
}
.about-video{
    width: 100%;
    float: left;
    padding-top: 5%;
    .content-video{
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            width: 748px;
        }

        @media screen and (min-width: 1024px) {
            width: 1004px;
        }

        @media screen and (min-width: 1280px) {
            width: 1260px;
        }
    
        .box2{
            float: left;
            position: relative;               
        }
        img{
            width: 100%;
            padding: 10px;

        }
        .btn2{
            background-color: $dark-grey;
            color: $white;
            font-family: Roboto;
            font-size: 12px;
            letter-spacing: 2px;
            text-align: center;
            margin-left: 43%;
            margin-right:43%;
        }
/*         .img4{
            left: 36%;
            margin-top: 19%;
            position: absolute;
        } */
    }
}

.logo-box{
    position: relative;
    width: 100%;
    img{
        width: 100%;

    }
}

footer{
    position: relative;
    width: 100%;
    background-color: $dark-grey;
    float: left;
    .row{
        margin-left: 10%;
    }

    h6{
        font-family: Roboto;
        font-size: 18px;
        color: $white;
        line-height: 1.67;
        margin-top: 10%;
    }
    ul{
        list-style-type: none;
        color: $white;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.79;
        padding: 0px;
        color: $list;
        img{
            float: left;
            padding: 3%;
        }


    }
    .row8 .row9{
        margin-left: 10%;
        margin-top: 5%;
    }
    .col-sm-4 {
        float: left;
    }
    .email{
        border: solid 1px #666666;
    }
    .btn3{
        font-size: 12px;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: 2px;
    }
    .btn-subscribe{
        margin: 34%;
    }
    p{
        font-family: Roboto;
        font-size: 14px;
        color: $list;
        text-align: center;
    }
}